.row{
    position: relative;
    width: 100%;
    &_name{
        
        &_name{
            margin: 0 0 0 10px;
        }
    }
    &_id{
    }
    &_class{
    }
    &_parents{
        display: flex;
        justify-content: space-between;
    }
    &_box{
        display: flex;
        margin: 0 20px 0 0;
        &_item{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            width: 32px;
            height: 32px;
            background: #F2F2F2;
        }
    }
    &_span{
    }
}
// .div{
//     width: 100%;
// }
.red{
    color: red;
}
.yellow{
    color: rgba(226, 181, 52, 1);
}
.blue{
    color: blue;
}
.green{
    color: rgba(15, 157, 88, 1);
}