.test {
  min-width: 1440px;
  background-color: #f2f2f2;
  &_container {
    margin: 20px 0 0 60px;
  }
  &_info {
    padding: 20px 0 0 0;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    &_name {
      margin: 0 0 13px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      /* identical to box height, or 20px */

      text-transform: uppercase;

      /* Gray Mid */

      color: #777777;
      &_selected {
        margin: 0 12px 0 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        /* identical to box height, or 20px */

        text-transform: uppercase;

        /* Gray Dark */

        color: #5b5b5b;
      }
    }
  }
  &_sort {
    display: flex;
    &_button {
      margin: 0 12px 0 0;
      background: #ffffff;
      /* New Gray */

      border: 1px solid #c0c0c0;
      padding: 6px 12px;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      /* identical to box height, or 20px */

      text-transform: uppercase;

      /* Gray Dark */

      color: #5b5b5b;
      &_date {
        width: 200px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: #c0c0c0;
      }
    }
    &_date {
      border: none;
      text-decoration: none;
      &:focus {
        border: none;
      }
    }
  }
  &_line {
    width: 1102px;
    height: 1px;

    /* accent */

    background: #a6192e;
  }
  &_score {
    margin: 12px 0 12px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    text-transform: uppercase;

    /* Gray Mid */

    color: #777777;

    &_blue {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #4285f4;
    }
    &_red {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #db4437;
    }
    &_green {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #0f9d58;
    }
    &_yelow {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #e2b534;
    }
  }
  &_speed {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    text-transform: uppercase;

    /* Gray Mid */

    color: #777777;
    &_blue {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #4285f4;
    }
    &_red {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #db4437;
    }
    &_green {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #0f9d58;
    }
    &_yelow {
      margin: 0 12px 0 0;
      &::before {
        content: ' \25CF';
        font-size: 15px;
      }
      color: #e2b534;
    }
  }
  &_summary {
    margin: 20px 0 0 0;
    padding: 0 0 34px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;

    &_average {
      margin: 0 220px 0 30px;

      color: #777777;
    }
    &_speed {
      color: #4285f4;
    }
    &_percent {
      /* identical to box height, or 20px */
      margin: 0 100px 0 0;
      color: #4285f4;
    }
  }
}
.tr td {
  border: none;
  background-color: #f2f2f2;
}
.redline {
  width: 91%;
  height: 3px;
  background-color: #a6192e;
}
input[type='date']::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
